*{
margin: auto;
}
.header{
	width: 100%;
	height: 95px;
	background-color: #333333;
	position: fixed;
	font-family: rockwell;
}
.headerWrapper{
	width: 1060px;
	margin:  auto;
	background-color: none;
}
.headerLogo{
	float: left;
}
.headerName {
	text-align:left;
	color: white;
	font-family: rockwell;
	font-size: 10px;
	float:left;
	text-decoration: none;
	list-style-type: none;
	line-height: 80px;

}
.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.btn1 {
	background-color: #333333;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.container{
	width: 1060px;
	height: 800px;
	background-color: GhostWhite;
}
.line1 {
	margin-top: 10px;
	width: 320px;
	height: 790px;
	float: left;
	margin-left: 20px;
	border-right: 1px solid gray;
}
.line1 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.line2 h2{
	font-family: Open Sans;
}
.line3 h2{
	font-family: Open Sans;
}
.line3 p{
	font-family: Open Sans;
	font-size: 18px;
}
.line4 h2{
	font-family: Open Sans;
}
.line4 p{
	font-family: Open Sans;
	font-size: 18px;
}
.line5 h2{
	font-family: Open Sans;
}
.line5 p{
	font-family: Open Sans;
	font-size: 18px;
}
.line6 h2{
	font-family: Open Sans;
}
.line6 p{
	font-family: Open Sans;
	font-size: 18px;
}

.footer{
	width: 100%;
	height: 50px;
	background-color: #333333;
	font-family: rockwell;
}

.footer p{
	text-align: center;
	font-size: 20px;
	color: black;
	font-family: Open Sans;
}