*{
margin: auto;
}
.header{
	width: 100%;
	height: 95px;
	background-color: #F7DC6F;
	position: fixed;
	font-family: rockwell;
}
.headerWrapper{
	width: 1060px;
	margin:  auto;
	background-color: none;
}
.headerLogo{
	float: left;
}
.headerName {
	text-align:left;
	color: 	black;
	font-family: rockwell;
	font-size: 10px;
	float:left;
	text-decoration: none;
	list-style-type: none;
	line-height: 80px;

}
.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.btn1 {
	font-family: 'Lucida Sans';
	background-color: #F7DC6F;
	color: 	black;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.btn1:hover{
	color: blue;
}
.container{
	width: 1060px;
	height: 800px;
	background-color: transparent;
}
.line1 {
	margin-top: 10px;
	margin-left: 20px;
}
.line1 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
	
.line2 h2{
	font-family: Open Sans;
	background-color: transparent;
}

.footer{
	width: 100%;
	height: 50px;
	background-color: #F7DC6F;
	font-family: rockwell;
}

.footer p{
	text-align: center;
	font-size: 20px;
	color: black;
	font-family: Open Sans;
}
body{
background:
background-color: gray;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
background-color:#e1ebbd;
background-size: 128px 128px;

}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    float: right;

}

.active, .accordion:hover {
    background-color: #ccc; 
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;

}