			
			@keyframes slider{
			
			0%{
				left: 0;
			}
			
			20%{
				left: 0;
			}
			
			25%{
				left: -100%;
			}
			
			45%{
				left : -100%;
			}
			
			50%{
				left: -200%;
			}
			
			70%{
				left: -200%;
			}
			
			75%{
				left: -300%;
			}
			
			95%{
				left: -300%;
			}
			
			100%{
				left: -400%;
			}
			
			}
			
			#slider{
				overflow: hidden;
				height: 400px;
				width: 300px;
				
			}
			
			#slider figure img{
				width: 20%;
				float: left;
			}
			
			#slider figure{
				position: relative;
				z-index: -1;
				width: 500%;
				margin: 0;
				left: 0;
				animation: 15s slider infinite;
			}