*{
margin: auto;
}
.header{
	width: 100%;
	height: 95px;
	background-color: #F7DC6F;
	position: fixed;
	font-family: rockwell;
}	
.headerWrapper{
	width: 1060px;
	margin:  auto;
	background-color: none;
}
.headerLogo{
	float: left;
}
.headerName {
	text-align:left;
	color: black;
	font-family: rockwell;
	font-size: 10px;
	float:left;
	text-decoration: none;
	list-style-type: none;
	line-height: 80px;

}
.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.btn1 {
	background-color: #F7DC6F;
	color: black;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.container{
	border: 12px solid #F7DC6F;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
	width: 950px;
	height: 100px;
	background-color: #F9E79F;
}
.line1{
	margin-top: 30px;
	width: 200px;
	text-align: center;
	float: left;
	margin-left: 15px;
	}
.line1 p{
	font-family: calibri;
	font-size: 20px;
	text-align: center;
	margin-right: 20px;
}

.line2{
	margin-top: 30px;
	width: 200px;	
	text-align: center;
	float: left;
	margin-left: 15px;
}
.line2 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 20px;
}
.line3{
	margin-top: 30px;
	width: 200px;;
	text-align: center;
	float: left;
	margin-left: 15px;
}
.line3 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 20px;
}
.line4{
	margin-top: 30px;
	width: 200px;
	text-align: center;
	float: left;
	margin-left: 15px;
}
.line4 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 15px;
	margin-right: 20px;
}
.line5 h2{
	border: 12px solid #F7DC6F;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
 	width: 750px;
	background-color: #F9E79F;
}
.footer{
	width: 100%;
	height: 50px;
	background-color: #F7DC6F;
	font-family: rockwell;

}
.footer p{
	text-align: center;
	font-size: 20px;
	color: black;
	font-family: Open Sans;
}
body{
background:
linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
background-color:#e1ebbd;
background-size: 128px 128px;

}