*{
margin: auto;
}
.header{
	width: 100%;
	height: 95px;
	background-color: #333333;
	position: fixed;
	font-family: rockwell;
}
.headerWrapper{
	width: 1060px;
	margin:  auto;
	background-color: none;
}
.headerLogo{
	float: left;
}
.headerName {
	text-align:left;
	color: white;
	font-family: rockwell;
	font-size: 10px;
	float:left;
	text-decoration: none;
	list-style-type: none;
	line-height: 80px;

}
.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.btn1 {
	background-color: #333333;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.container{
	width: 950px;
	height: 200px;
	background-color: GhostWhite;
}
.line1{
	margin-top: 30px;
	width: 200px;
	text-align: center;
	float: left;
	margin-left: 20px;
	border-right: 1px solid gray;
	}
.line1 p{
	font-family: calibri;
	font-size: 20px;
	text-align: center;
	margin-right: 20px;
}

.line2{
	margin-top: 30px;
	width: 200px;	
	text-align: center;
	float: left;
	margin-left: 20px;
	border-right: 1px solid gray;
}
.line2 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.line3{
	margin-top: 30px;
	width: 200px;;
	text-align: center;
	float: left;
	margin-left: 20px;
	border-right: 1px solid gray;
}
.line3 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.line4{
	margin-top: 30px;
	width: 200px;
	text-align: center;
	float: left;
	margin-left: 20px;
	border-right: 1px solid gray;
}
.line4 p{
	font-family: calibri;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.line5 h2{
 	width: 950px;
	background-color: GhostWhite;
}
.footer{

}
body{
background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}